%perpetua,
.perpetua {
  &:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #005B9A, #E6C13D);
    mix-blend-mode: soft-light;
    opacity: .5;
  }
}