$dusky-blue: #649CA7;
$maroon: #c63082;
$purple: #9b1c9b;
$lightgrey: #cad1cc;
$black: #000;
$green: #62B859;
$midgrey: mix($black, $lightgrey, 15%);
$lightergrey: mix(white, $lightgrey, 70%);

$accent: $purple;
$secondary: $maroon;