%filter-base {
  position: relative;

  img {
    width: 100%;
    z-index: 1;
  }

  &:after {
    content: '';
    z-index: 3;
    display: block;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    content: '';
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    position: absolute;
    pointer-events: none;
  }
}
