$dusky-blue: #649CA7;
$maroon: #c63082;
$purple: #9b1c9b;
$lightgrey: #cad1cc;
$black: #000;
$midgrey: mix($lightgrey, $black, 50%);
$lightergrey: mix(white, $lightgrey, 70%);

$accent: $purple;
$secondary: $maroon;

&::selection {
  background: $accent;
  color: white;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 2em auto;
  max-width: 1200px;
  line-height: 1.5;
  font-size: 1.1em;
}

pre, code {
  background: $lightergrey;

  code {
    border: none;
    background: none;
  }
}

code {
  font-family: monospace;
  padding: 0;
  padding: .25em .5em;
}

.highlight {
  color: $secondary;
  font-weight: 800;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol {
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: $accent;
  transition-duration: .5s;
  border-bottom: .08em solid $secondary;
  padding-bottom: .05em;

  &:hover,
  &:focus {
    color: mix(white, $secondary, 50%);
    border-bottom: .08em solid mix(white, $secondary, 50%);
  }
}

.demo {
  &__item {
    margin: 1em;
    list-style: none;
    display: inline-block;
  }
}

figure {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    filter: none !important;
  }

  &:hover:after,
  &:focus:after {
    background: none !important;
  }
}

figcaption {
  position: absolute;
  bottom: 1em;
  right: 0;
  padding: .25em 1em .25em .25em;
  background: $black;
  color: white;
  font-weight: 200;
}

img {
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}

.demo {
  &__section {
    font-weight: 300;
    font-size: 1.2em;
  }

  &__subtitle {
    font-size: 2em;
    text-align: center;
  }

  &__note {
    font-style: italic;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  &__input-area {
    display: block;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    margin: 1em auto;
  }

  &__input-label {
    text-align: center;
    color: $accent;
  }

  &__input-img {
    width: 16em;
    font-size: 1em;
    padding: .5em;
    border: 2px solid $accent;
    outline: none;
    margin: .5em;
    font-weight: 200;
    transition-duration: .25s;

    &:hover {
      background: mix(white, $accent, 90%);
    }

    &:focus {
      background: mix(white, $accent, 75%);
    }
  }

  &__option-field {
    color: $accent;
    border: 2px dashed $lightgrey;
  }

  &__option {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
  }

  &__option-img {
    max-width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
  }
}

.title {
  &--logo {
    max-width: 400px;
  }

  &--top-sub {
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
    max-width: 26em;
  }
}

.how-to-section {
  font-size: 1.2em;
  max-width: 40em;
  margin: 0 auto;
  display: block;
}

.attribution {
  padding: 1em;
  text-align: center;

}