/*
 *
 * Aden
 *
 */

@import 'shared';

%aden,
.aden {
  @extend %filter-base;
  filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2);

  &:after{
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken;
  }
}