/*
 *
 * Aden
 *
 */

@import 'shared';

// mixin to extend aden filter
// @mixin aden
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include aden;
//   }
//   or
//   img {
//     @include aden(blur(2px));
//   }
//   or
//   img {
//     @include aden(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin aden($filters...) {
  @include filter-base;
  filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2) $filters;

  &::after {
    background: linear-gradient(to right, rgba(66, 10, 14, .2), transparent);
    mix-blend-mode: darken;
  }

  @content;
}

// aden Instagram filter
%aden,
.aden {
  @include aden;
}
