/*
 *
 * Amaro
 *
 */

@import 'shared';

// mixin to extend amaro filter
// @mixin amaro
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include amaro;
//   }
//   or
//   img {
//     @include amaro(blur(2px));
//   }
//   or
//   img {
//     @include amaro(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin amaro($filters...) {
  @include filter-base;
  filter: hue-rotate(-2deg) contrast(1.0) brightness(0.9) saturate(1.1);

  &::after {
    background: radial-gradient(circle at 29% 33%,rgba(85, 78, 136, 0.28),rgb(72, 17, 76),#540d80 97%);
    mix-blend-mode: screen;
    opacity: 0.4;
  }

  @content;
}

// amaro Instagram filter
%amaro,
.amaro {
  @include amaro;
}
