/*
 *
 * Brooklyn
 *
 */
@import 'shared';

// mixin to extend brooklyn filter
// @mixin brooklyn
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include brooklyn;
//   }
//   or
//   img {
//     @include brooklyn(blur(2px));
//   }
//   or
//   img {
//     @include brooklyn(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin brooklyn($filters...) {
  @include filter-base;
  filter: contrast(.9) brightness(1.1) $filters;

  &::after {
    background: radial-gradient(circle, rgba(168, 223, 193, .4) 70%, rgb(196, 183, 200));
    mix-blend-mode: overlay;
  }

  @content;
}

// brooklyn Instagram filter
%brooklyn,
.brooklyn {
  @include brooklyn;
}
