body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 2em auto;
  max-width: 1200px;
  line-height: 1.5;
}

p {
  max-width: 32em;
}

ul {
  width: 100%;
}

.demo {
  &__item {
    margin: 1em;
    list-style: none;
    display: inline-block;
  }
}

figure {
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;

  &:hover {
    filter: none !important;
  }

  &:hover:after {
    background: none !important;
  }
}

figcaption {
  position: absolute;
  bottom: 1em;
  right: 0;
  padding: .25em 1em .25em .25em;
  background: black;
  color: white;
  font-weight: 200;
}

img {
  width: 100%;
}