/*
 *
 * Earlybird
 *
 */
@import 'shared';

// mixin to extend earlybird filter
// @mixin earlybird
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include earlybird;
//   }
//   or
//   img {
//     @include earlybird(blur(2px));
//   }
//   or
//   img {
//     @include earlybird(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin earlybird($filters...) {
  @include filter-base;
  filter: contrast(.9) sepia(.2) $filters;

  &::after {
    background: radial-gradient(circle, rgb(208, 186, 142) 20%, rgb(54, 3, 9) 85%, rgb(29, 2, 16) 100%);
    mix-blend-mode: overlay;
  }

  @content;
}

// earlybird Instagram filter
%earlybird,
.earlybird {
  @include earlybird;
}
