/*
 *
 * Gingham
 *
 */

%ginghgam,
.ginghgam {
  filter: brightness(1.05) hue-rotate(-10deg) contrast(1.3) saturate(1.2);;

  &:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken;
  }
}