/*
 * Helena
 *
 */
@import 'shared';

// mixin to extend Helena filter
// @mixin helena
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include helena;
//   }
//   or
//   img {
//     @include helena(blur(2px));
//   }
//   or
//   img {
//     @include helena(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin helena($filters...) {
  @include filter-base;
  filter: brightness(0.9) contrast(1.4) hue-rotate(330deg) saturate(1.4) sepia(0.4) $filters;

  &:after{
    background: rgba(243, 106, 188, .3);
    mix-blend-mode: screen;
  }
  @content;
}

// Helena Instagram filter
%helena,
.helena {
  @include helena;
}
