/*
 *
 * Hudson
 *
 */
@import 'shared';

// mixin to extend hudson filter
// @mixin hudson
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include hudson;
//   }
//   or
//   img {
//     @include hudson(blur(2px));
//   }
//   or
//   img {
//     @include hudson(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin hudson($filters...) {
  @include filter-base;
  filter: brightness(1.2) contrast(.9) saturate(1.1) $filters;

  &::after {
    background: radial-gradient(circle, rgb(166, 177, 255) 50%, rgb(52, 33, 52));
    mix-blend-mode: multiply;
    opacity: .5;
  }

  @content;
}

// hudson Instagram filter
%hudson,
.hudson {
  @include hudson;
}
