/*
 *
 * Hudson
 *
 */
@import 'shared';

%hudson, //needs work!
.hudson {
  @extend %filter-base;
  filter: brightness(1.2) contrast(.9) saturate(1.1);

  &:after{
    background: radial-gradient(circle, #a6b1ff 50%, #342134);
    mix-blend-mode: multiply;
    opacity: .5;
  }
}