/*
 *
 * Inkwell
 *
 */
@import 'shared';

// mixin to extend inkwell filter
// @mixin inkwell
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include inkwell;
//   }
//   or
//   img {
//     @include inkwell(blur(2px));
//   }
//   or
//   img {
//     @include inkwell(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin inkwell($filters...) {
  @include filter-base;
  filter: sepia(.3) contrast(1.1) brightness(1.1) grayscale(1) $filters;

  @content;
}

// inkwell Instagram filter
%inkwell,
.inkwell {
  @include inkwell;
}
