/*
 *
 * Kelvin
 *
 */

@import 'shared';

// mixin to extend kelvin filter
// @mixin kelvin
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include kelvin;
//   }
//   or
//   img {
//     @include kelvin(blur(2px));
//   }
//   or
//   img 
//     @include kelvin(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin kelvin($filters...) {
  @extend %filter-base;
  filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
  -webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);

  &::after {
    background: linear-gradient(to right, rgba(66, 10, 14, .2), transparent);
    mix-blend-mode: darken;
  }

  @content;
}

// kelvin Instagram filter
%kelvin,
.kelvin {
  @include kelvin;
}
