@import 'aden';
@import 'inkwell';
@import 'perpetua';
@import 'reyes';
@import 'gingham';
@import 'toaster';

// per page:

.demo {
  &__img {
    width: 350px;
    height: 350px;

    &:hover {
      filter: none;
    }

    &:after:hover {
      background: none;
    }
  }
}