/*
 *
 * Perpetua
 *
 */
@import 'shared';

%perpetua,
.perpetua {
  @extend %filter-base;

  &:after{
    background: linear-gradient(to bottom, #005b9a, #e6c13d);
    mix-blend-mode: soft-light;
    opacity: .5;
  }
}