/*
 *
 * Perpetua
 *
 */
@import 'shared';

// mixin to extend perpetua filter
// @mixin perpetua
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include perpetua;
//   }
//   or
//   img {
//     @include perpetua(blur(2px));
//   }
//   or
//   img {
//     @include perpetua(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin perpetua($filters...) {
  @include filter-base;
  @if length($filters) > 0 {
    filter: $filters;
  }

  &::after {
    background: linear-gradient(to bottom, rgb(0, 91, 154), rgb(230, 193, 61));
    mix-blend-mode: soft-light;
    opacity: .5;
  }

  @content;
}

// perpetua Instagram filter
%perpetua,
.perpetua {
  @include perpetua;
}
