/*
 *
 * Reyes
 *
 */
@import 'shared';

%reyes,
.reyes {
  @extend %filter-base;
  filter: sepia(.22) brightness(1.1) contrast(.85) saturate(.75);

   &:after{
    background: #efcdad;
    mix-blend-mode: soft-light;
    opacity: .5;
  }
}