/*
 *
 * Reyes
 *
 */
@import 'shared';

// mixin to extend reyes filter
// @mixin reyes
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include reyes;
//   }
//   or
//   img {
//     @include reyes(blur(2px));
//   }
//   or
//   img {
//     @include reyes(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin reyes($filters...) {
  @include filter-base;
  filter: sepia(.22) brightness(1.1) contrast(.85) saturate(.75) $filters;

   &::after {
    background: rgb(239, 205, 173);
    mix-blend-mode: soft-light;
    opacity: .5;
  }
  
  @content;
}

// reyes Instagram filter
%reyes,
.reyes {
  @include reyes;
}
