/*
 * Rise
 *
 */
@import 'shared';

%_rise,
._rise {
  @extend %filter-base;
  filter: brightness(1.2) contrast(.9) saturate(.9);

  &:after{
    background: radial-gradient(circle, rgba(232, 197, 152, .8), transparent 90%);
    mix-blend-mode: overlay;
    opacity: .6;
  }

  &:before{
      background: radial-gradient(circle, rgba(236, 205, 169, .2) 55%, rgb(50, 30, 7) 90%);
    mix-blend-mode: multiply;
    opacity: .8;
  }
}