/*
 *
 * Toaster
 *
 */
@import 'shared';

%toaster,
.toaster {
  @extend %filter-base;
  filter: contrast(1.5) brightness(.9);

  &:after{
    background: radial-gradient(circle, #804e0f, #3b003b);
    mix-blend-mode: screen;
  }
}