/*
 *
 * Toaster
 *
 */
@import 'shared';

// mixin to extend toaster filter
// @mixin toaster
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include toaster;
//   }
//   or
//   img {
//     @include toaster(blur(2px));
//   }
//   or
//   img {
//     @include toaster(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin toaster($filters...) {
  @include filter-base;
  filter: contrast(1.5) brightness(.9) $filters;

  &::after {
    background: radial-gradient(circle, rgb(128, 78, 15), rgb(59, 0, 59));
    mix-blend-mode: screen;
  }

  @content;
}

// toaster Instagram filter
%toaster,
.toaster {
  @include toaster;
}
