/*
 *
 * Walden
 *
 */
@import 'shared';

%walden,
.walden {
  @extend %filter-base;
  filter: brightness(1.1) hue-rotate(-10deg)sepia(.3) saturate(1.6);

  &:after{
    background: #04c;
    mix-blend-mode: screen;
    opacity: .3;
  }
}