/*
 * Willow
 *
 */
@import 'shared';

%willow,
.willow {
  @extend %filter-base;
  filter: saturate(.02) contrast(.95) brightness(.9) sepia(.02);

  &::after {
    background: radial-gradient(left bottom, circle, transparent 55%, #000 200%);
     mix-blend-mode: multiply;
    }
}
