/*
 * Willow
 *
 */
@import 'shared';

%willow,
.willow {
  @extend %filter-base;
  filter: saturate(0.02) contrast(0.95) brightness(0.9) sepia(0.02);

  &::after {
    background: rgba(227, 113, 8, 0.2);
    mix-blend-mode: soft-light;
  }
}
