/*
 *
 * X-Pro II
 *
 */
@import 'shared';

// mixin to extend xpro2 filter
// @mixin xpro2
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include xpro2;
//   }
//   or
//   img {
//     @include xpro2(blur(2px));
//   }
//   or
//   img {
//     @include xpro2(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin xpro2($filters...) {
  @include filter-base;
  filter: sepia(.3) $filters;

  &::after {
    background: radial-gradient(circle, rgb(230, 231, 224) 40%, rgba(43, 42, 161, .6) 110%);
    mix-blend-mode: color-burn;
  }

  @content;
}

// xpro2 Instagram filter
%xpro2,
.xpro2 {
  @include xpro2;
}
