<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSSGram</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- angular for data-binding -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <link rel="stylesheet" href="css/demo-site.min.css">
</head>
<body>
  <section class="title-section">
    <img class="title--logo" src="img/logo-temp.png" height="375" width="1005" alt="CSSgram">
    <h2 class="title--top-sub">A tiny (&lt;1kb gzipped!) library for recreating <a href="http://instagram.com">Instagram</a> filters with CSS filters and blend modes.</h2>
  </section>

  <section class="demo__section" ng-app="imgLoader" ng-controller="imgCtrl">
    <div class="demo__input-area">

      <fieldset class="demo__option-field">
        <legend>Choose a sample image:</legend>
        <input class="demo__option" id="atx" type="radio" name="shipping" value="img/atx.jpg" ng-model="defaultImg">
        <label for="atx">
          <img class="demo__option-img" src="img/atx.jpg" alt="austin image">
        </label>
        <input class="demo__option" id="cacti" type="radio" name="shipping" value="img/cacti.jpg" ng-model="defaultImg">
        <label for="cacti">
          <img class="demo__option-img" src="img/cacti.jpg" alt="cacti image">
        </label>
      </fieldset>

      <label class="demo__input-label" for="demo__input-img">Or paste in a link to your own photo:</label>
      <input class="demo__input-img" type="text" ng-model="defaultImg">
      <small class="demo__note">Hovering over any of these images (or clicking on mobile) will remove the filter effect to visualize the changes.</small>
    </div>
    <ul class="demo__list">
      <li class="demo__item">
        <figure>
          <img src="{{defaultImg}}" alt="">
          <figcaption>#nofilter</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="aden">
          <img class="" src="{{defaultImg}}" alt="">
          <figcaption>Aden</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="reyes">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Reyes</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="perpetua">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Perpetua</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="inkwell">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Inkwell</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="earlybird">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Earlybird</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="toaster">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Toaster</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="walden">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Walden</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="hudson">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Hudson</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="gingham">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Gingham</figcaption>
        </figure>
      </li>
      <li class="demo__item">
        <figure class="mayfair">
          <img src="{{defaultImg}}" alt="">
          <figcaption>Mayfair</figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section class="how-to-section">
    <h2>Usage</h2>
    <p>Because we are using pseudo-elements (<code>:after</code>) to create filter effects, you must apply these filters on a containing element (i.e. not a content-block like <code>&lt;img&gt;</code>. The recommendation is to wrap your images in a <code>&lt;figure&gt;</code> tag. Read more about the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure">figure tag here.</a></p>

    <p>There are currently 2 ways to consume this library.</p>

    <h3>Use Sass <code>@extends</code></h3>

    <ol>
      <li>Download the <a href="https://github.com/una/CSSgram/tree/master/source/scss" download><code>/scss folder contents</code></a></li>
      <li>Include <a href="https://github.com/una/CSSgram/blob/master/source/scss/cssgram.scss"><code>scss/cssgram.scss</code></a> or any individual file (i.e. <code>scss/aden.scss</code>) into your Sass manifest</li>
      <li>Extend the silent placeholder selector <code>@extend %aden;</code> in your element.</li>
    </ol>

    <p>For example:</p>

    <pre><code>
      &lt;!-- HTML --&gt;
      &lt;figure class="viz--beautiful"&gt;
        &lt;img src="../img.png" alt=""&gt;
      &lt;/figure&gt;
    </code></pre>

    <pre><code>
      // Sass
      .viz--beautiful {
        @extend %aden;
      }
    </code></pre>

    <h3 id="use-css-classes">Use CSS classes</h3>

    <ol>
      <li><a href="https://raw.githubusercontent.com/una/CSSgram/master/source/css/cssgram.min.css" download>Download the CSSgram Library</a></li>
      <li>Link to the cssgram library: <code>&lt;link rel="stylesheet" href="css/vendor/cssgram.min.css"&gt;</code> or any individual css file (i.e. <code>&lt;link rel="stylesheet" href="css/vendor/aden.min.css"&gt;</code>)</li>
      <li>Add a class to your image element with the name of the filter you would like to use</li>
    </ol>

    <p>For example:</p>

    <pre><code>
      &lt;!-- HTML --&gt;
      &lt;figure class="aden"&gt;
        &lt;img src="../img.png" alt=""&gt;
      &lt;/figure&gt;
    </code></pre>

  </section>
  <footer class="attribution">Made with love by <a href="http://twitter.com/una">Una Kravets</a> | <a href="http://github.com/una/CSSgram">View Source</a></footer>

  <script>
    var imgLoader = angular.module('imgLoader',[]);

    imgLoader.controller('imgCtrl', ['$scope', function($scope) {
      $scope.defaultImg = 'img/atx.jpg';
    }]);
  </script>

</body>
</html>