/*
 * 1977
 *
 */
._1977 {
  position: relative; }
  ._1977:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

._1977 {
  -webkit-filter: contrast(1.1) brightness(1.1) saturate(1.3);
          filter: contrast(1.1) brightness(1.1) saturate(1.3); }
  ._1977:after {
    background: rgba(243, 106, 188, 0.3);
    mix-blend-mode: screen; }
