/*
 *
 * Aden
 *
 */
.aden:before, .aden:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }

.aden {
  position: relative; }
  .aden img {
    width: 100%;
    z-index: 1; }
  .aden:before {
    z-index: 2; }
  .aden:after {
    z-index: 3; }

.aden {
  -webkit-filter: hue-rotate(-20deg) contrast(.9) saturate(0.85) brightness(1.2);
          filter: hue-rotate(-20deg) contrast(.9) saturate(0.85) brightness(1.2); }
  .aden:after {
    background: -webkit-linear-gradient(left, rgba(66, 10, 14, 0.2), transparent);
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken; }
