/*
 *
 * Brooklyn
 *
 */
.brooklyn {
  position: relative; }
  .brooklyn:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.brooklyn {
  -webkit-filter: contrast(.9) brightness(1.1);
          filter: contrast(.9) brightness(1.1); }
  .brooklyn:after {
    background: -webkit-radial-gradient(circle, rgba(168, 223, 193, 0.4) 70%, #c4b7c8);
    background: radial-gradient(circle, rgba(168, 223, 193, 0.4) 70%, #c4b7c8);
    mix-blend-mode: overlay; }
