/*
 * Crema
 *
 */
.crema {
  position: relative; }
  .crema:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.crema {
  -webkit-filter: sepia(.15) brightness(0.89) contrast(1.2) saturate(0.61);
          filter: sepia(.15) brightness(0.89) contrast(1.2) saturate(0.61); }
  .crema:after {
    background: rgba(32, 5, 7, 0.2);
    mix-blend-mode: screen; }
