.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

/*
 *
 * Aden
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.aden {
  -webkit-filter: hue-rotate(-20deg) contrast(.9) saturate(0.85) brightness(1.2);
          filter: hue-rotate(-20deg) contrast(.9) saturate(0.85) brightness(1.2); }
  .aden:after {
    background: -webkit-linear-gradient(left, rgba(66, 10, 14, 0.2), transparent);
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken; }

/*
 *
 * Inkwell
 *
 */
.inkwell {
  -webkit-filter: sepia(.3) contrast(1.1) brightness(1.1) grayscale(1);
          filter: sepia(.3) contrast(1.1) brightness(1.1) grayscale(1); }

/*
 *
 * Perpetua
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.perpetua:after {
  background: -webkit-linear-gradient(top, #005b9a, #e6c13d);
  background: linear-gradient(to bottom, #005b9a, #e6c13d);
  mix-blend-mode: soft-light;
  opacity: .5; }

/*
 *
 * Reyes
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.reyes {
  -webkit-filter: sepia(.22) brightness(1.1) contrast(.85) saturate(0.75);
          filter: sepia(.22) brightness(1.1) contrast(.85) saturate(0.75); }
  .reyes:after {
    background: #efcdad;
    mix-blend-mode: soft-light;
    opacity: .5; }

/*
 *
 * Gingham
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.gingham {
  -webkit-filter: brightness(1.05) hue-rotate(-10deg);
          filter: brightness(1.05) hue-rotate(-10deg); }
  .gingham:after {
    background: -webkit-linear-gradient(left, rgba(66, 10, 14, 0.2), transparent);
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken; }

/*
 *
 * Toaster
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.toaster {
  -webkit-filter: contrast(1.5) brightness(.9);
          filter: contrast(1.5) brightness(.9); }
  .toaster:after {
    background: -webkit-radial-gradient(circle, #804e0f, #3b003b);
    background: radial-gradient(circle, #804e0f, #3b003b);
    mix-blend-mode: screen; }

/*
 *
 * Walden
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.walden {
  -webkit-filter: brightness(1.1) hue-rotate(-10deg) sepia(.3) saturate(1.6);
          filter: brightness(1.1) hue-rotate(-10deg) sepia(.3) saturate(1.6); }
  .walden:after {
    background: #04c;
    mix-blend-mode: screen;
    opacity: .3; }

/*
 *
 * Hudson
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.hudson {
  -webkit-filter: brightness(1.2) contrast(.9) saturate(1.1);
          filter: brightness(1.2) contrast(.9) saturate(1.1); }
  .hudson:after {
    background: -webkit-radial-gradient(circle, #a6b1ff 50%, #342134);
    background: radial-gradient(circle, #a6b1ff 50%, #342134);
    mix-blend-mode: multiply;
    opacity: .5; }

/*
 *
 * Earlybird
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.earlybird {
  -webkit-filter: contrast(.9) sepia(.2);
          filter: contrast(.9) sepia(.2); }
  .earlybird:after {
    background: -webkit-radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    background: radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    mix-blend-mode: overlay; }

/*
 *
 * Mayfair
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.mayfair {
  -webkit-filter: contrast(1.1) saturate(1.1);
          filter: contrast(1.1) saturate(1.1); }
  .mayfair:after {
    background: -webkit-radial-gradient(40% 40%, circle, rgba(255, 255, 255, 0.8), rgba(255, 200, 200, 0.6), #111 60%);
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255, 0.8), rgba(255, 200, 200, 0.6), #111 60%);
    mix-blend-mode: overlay;
    opacity: .4; }

/*
 * Lo-fi
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.lofi {
  -webkit-filter: saturate(1.1) contrast(1.5);
          filter: saturate(1.1) contrast(1.5); }
  .lofi:after {
    background: -webkit-radial-gradient(circle, transparent 70%, #222 150%);
    background: radial-gradient(circle, transparent 70%, #222 150%);
    mix-blend-mode: multiply; }

/*
 * 1977
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

._1977 {
  -webkit-filter: contrast(1.1) brightness(1.1) saturate(1.3);
          filter: contrast(1.1) brightness(1.1) saturate(1.3); }
  ._1977:after {
    background: rgba(243, 106, 188, 0.3);
    mix-blend-mode: screen; }

/*
 *
 * Brooklyn
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.brooklyn {
  -webkit-filter: contrast(.9) brightness(1.1);
          filter: contrast(.9) brightness(1.1); }
  .brooklyn:after {
    background: -webkit-radial-gradient(circle, rgba(168, 223, 193, 0.4) 70%, #c4b7c8);
    background: radial-gradient(circle, rgba(168, 223, 193, 0.4) 70%, #c4b7c8);
    mix-blend-mode: overlay; }

/*
 *
 * X-Pro II
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden, .hudson, .earlybird, .mayfair, .lofi, ._1977, .brooklyn, .xpro2 {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after, .hudson:after, .earlybird:after, .mayfair:after, .lofi:after, ._1977:after, .brooklyn:after, .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.xpro2 {
  -webkit-filter: sepia(.3);
          filter: sepia(.3); }
  .xpro2:after {
    background: -webkit-radial-gradient(circle, #E6E7E0 40%, rgba(43, 42, 161, 0.6) 110%);
    background: radial-gradient(circle, #E6E7E0 40%, rgba(43, 42, 161, 0.6) 110%);
    mix-blend-mode: color-burn; }
