.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

/*
 *
 * Aden
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.aden {
  -webkit-filter: hue-rotate(-20deg) contrast(.9) saturate(85%) brightness(1.2);
          filter: hue-rotate(-20deg) contrast(.9) saturate(85%) brightness(1.2); }
  .aden:after {
    background: -webkit-linear-gradient(left, rgba(66, 10, 14, 0.2), transparent);
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken; }

/*
 *
 * Inkwell
 *
 */
.inkwell {
  -webkit-filter: sepia(30%) contrast(1.2) brightness(1.1) grayscale(1);
          filter: sepia(30%) contrast(1.2) brightness(1.1) grayscale(1); }

/*
 *
 * Perpetua
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.perpetua:after {
  background: -webkit-linear-gradient(top, #005B9A, #E6C13D);
  background: linear-gradient(to bottom, #005B9A, #E6C13D);
  mix-blend-mode: soft-light;
  opacity: .5; }

/*
 *
 * Reyes
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.reyes {
  -webkit-filter: sepia(22%) brightness(1.1) contrast(.85) saturate(0.75);
          filter: sepia(22%) brightness(1.1) contrast(.85) saturate(0.75); }
  .reyes:after {
    background: #EFCDAD;
    mix-blend-mode: soft-light;
    opacity: .5; }

/*
 *
 * Gingham
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.gingham {
  -webkit-filter: brightness(1.05) hue-rotate(-10deg) contrast(1.3) saturate(1.2);
          filter: brightness(1.05) hue-rotate(-10deg) contrast(1.3) saturate(1.2); }
  .gingham:after {
    background: -webkit-linear-gradient(left, rgba(66, 10, 14, 0.2), transparent);
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
    mix-blend-mode: darken; }

/*
 *
 * Toaster
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.toaster {
  -webkit-filter: contrast(1.5) brightness(.9);
          filter: contrast(1.5) brightness(.9); }
  .toaster:after {
    background: -webkit-radial-gradient(circle, #804E0F, #3B003B);
    background: radial-gradient(circle, #804E0F, #3B003B);
    mix-blend-mode: screen; }

/*
 *
 * Walden
 *
 */
.aden, .perpetua, .reyes, .gingham, .toaster, .walden {
  position: relative; }
  .aden:after, .perpetua:after, .reyes:after, .gingham:after, .toaster:after, .walden:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.walden {
  -webkit-filter: brightness(110%) hue-rotate(-10deg) sepia(30%) saturate(1.6);
          filter: brightness(110%) hue-rotate(-10deg) sepia(30%) saturate(1.6); }
  .walden:after {
    background: #04c;
    mix-blend-mode: screen;
    opacity: .3; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 2em auto;
  max-width: 1200px;
  line-height: 1.5; }

p {
  max-width: 32em; }

ul {
  width: 100%; }

.demo__item {
  margin: 1em;
  list-style: none;
  display: inline-block; }

figure {
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0; }
  figure:hover {
    -webkit-filter: none !important;
            filter: none !important; }
  figure:hover:after {
    background: none !important; }

figcaption {
  position: absolute;
  bottom: 1em;
  right: 0;
  padding: .25em 1em .25em .25em;
  background: black;
  color: white;
  font-weight: 200; }

img {
  width: 100%; }
