/*
 *
 * Earlybird
 *
 */
.earlybird:before, .earlybird:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }

.earlybird {
  position: relative; }
  .earlybird img {
    width: 100%;
    z-index: 1; }
  .earlybird:before {
    z-index: 2; }
  .earlybird:after {
    z-index: 3; }

.earlybird {
  -webkit-filter: contrast(.9) sepia(.2);
          filter: contrast(.9) sepia(.2); }
  .earlybird:after {
    background: -webkit-radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    background: radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    mix-blend-mode: overlay; }
