/*
 * Ginza
 *
 */
.ginza {
  position: relative;
  filter: brightness(1.2) contrast(1) opacity(0.9) saturate(1.1) sepia(0.2); }
  .ginza img {
    width: 100%;
    z-index: 1; }
  .ginza:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  .ginza:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  .ginza:after {
    background: rgba(103, 58, 183, 1.0);
    mix-blend-mode: screen; }
