/*
 *
 * Helena
 *
 */

.helena {
  position: relative;
  -webkit-filter: hue-rotate(-18deg) sepia(0.3) saturate(1.3);
          filter: hue-rotate(-18deg) sepia(0.3) saturate(1.3); }
  
  .helena img {
    width: 100%;
    z-index: 1; }
  
  .helena:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .helena:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .helena::after {
    background: #007ccc;
    mix-blend-mode: soft-light;
    opacity: .3; }
