/*
 *
 * Hudson
 *
 */

.hudson {
  position: relative;
  -webkit-filter: brightness(1.2) contrast(0.9) saturate(1.1);
          filter: brightness(1.2) contrast(0.9) saturate(1.1); }
  
  .hudson img {
    width: 100%;
    z-index: 1; }
  
  .hudson:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .hudson:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .hudson::after {
    background: -webkit-radial-gradient(circle, #a6b1ff 50%, #342134);
    background: radial-gradient(circle, #a6b1ff 50%, #342134);
    mix-blend-mode: multiply;
    opacity: .5; }
