/*
 *
 * Hudson
 *
 */
.hudson {
  position: relative; }
  .hudson:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.hudson {
  -webkit-filter: brightness(1.2) contrast(.9) saturate(1.1);
          filter: brightness(1.2) contrast(.9) saturate(1.1); }
  .hudson:after {
    background: -webkit-radial-gradient(circle, #a6b1ff 50%, #342134);
    background: radial-gradient(circle, #a6b1ff 50%, #342134);
    mix-blend-mode: multiply;
    opacity: .5; }
