/*
 * Kelvin
 *
 */

.kelvin {
  position: relative; }
  
  .kelvin img {
    width: 100%;
    z-index: 1; }
  
  .kelvin:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .kelvin:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .kelvin::after {
    background: #b77d21;
    mix-blend-mode: overlay; }
  
  .kelvin::before {
    background: #382c34;
    mix-blend-mode: color-dodge; }
