/*
 *
 * Mayfair
 *
 */

.mayfair {
  position: relative;
  -webkit-filter: contrast(1.1) saturate(1.1);
          filter: contrast(1.1) saturate(1.1); }
  
  .mayfair img {
    width: 100%;
    z-index: 1; }
  
  .mayfair:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .mayfair:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .mayfair::after {
    background: -webkit-radial-gradient(40% 40%, circle, rgba(255, 255, 255, 0.8), rgba(255, 200, 200, 0.6), #111111 60%);
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255, 0.8), rgba(255, 200, 200, 0.6), #111111 60%);
    mix-blend-mode: overlay;
    opacity: .4; }
