/*
 * Moon
 *
 */

.moon {
  position: relative;
  -webkit-filter: grayscale(1) contrast(1.1) brightness(1.1);
          filter: grayscale(1) contrast(1.1) brightness(1.1); }
  
  .moon img {
    width: 100%;
    z-index: 1; }
  
  .moon:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .moon:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .moon::before {
    background: #a0a0a0;
    mix-blend-mode: soft-light; }
  
  .moon::after {
    background: #383838;
    mix-blend-mode: lighten; }
