/*
 *
 * Nashville
 *
 */

.nashville {
  position: relative;
  -webkit-filter: sepia(0.2) contrast(1.2) brightness(1.05) saturate(1.2);
          filter: sepia(0.2) contrast(1.2) brightness(1.05) saturate(1.2); }
  
  .nashville img {
    width: 100%;
    z-index: 1; }
  
  .nashville:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .nashville:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .nashville::after {
    background: rgba(0, 70, 150, 0.4);
    mix-blend-mode: lighten; }
  
  .nashville::before {
    background: rgba(247, 176, 153, 0.56);
    mix-blend-mode: darken; }
