/*
 *
 * Nashville
 *
 */
.nashville {
  position: relative; }
  .nashville img {
    width: 100%;
    z-index: 1; }
  .nashville:after {
    content: '';
    z-index: 3;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none; }
  .nashville:before {
    content: '';
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none; }

.nashville {
  -webkit-filter: sepia(.2) contrast(1.2) brightness(1.05) saturate(1.2);
          filter: sepia(.2) contrast(1.2) brightness(1.05) saturate(1.2); }
  .nashville::after {
    background: rgba(0, 70, 150, 0.4);
    mix-blend-mode: lighten; }
  .nashville::before {
    background: rgba(247, 176, 153, 0.56);
    mix-blend-mode: darken; }
