/*
 *
 * Perpetua
 *
 */
.perpetua {
  position: relative; }
  .perpetua:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.perpetua:after {
  background: -webkit-linear-gradient(top, #005b9a, #e6c13d);
  background: linear-gradient(to bottom, #005b9a, #e6c13d);
  mix-blend-mode: soft-light;
  opacity: .5; }
