/*
 *
 * Reyes
 *
 */

.reyes {
  position: relative;
  -webkit-filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
          filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75); }
  
  .reyes img {
    width: 100%;
    z-index: 1; }
  
  .reyes:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .reyes:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .reyes::after {
    background: #efcdad;
    mix-blend-mode: soft-light;
    opacity: .5; }
