/*
 * Rise
 *
 */
._rise:before, ._rise:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }

._rise {
  position: relative; }
  ._rise img {
    width: 100%;
    z-index: 1; }
  ._rise:before {
    z-index: 2; }
  ._rise:after {
    z-index: 3; }

._rise {
    -webkit-filter: brightness(1.2) contrast(.9) saturate(.9);
    filter: brightness(1.2) contrast(.9) saturate(.9); }
  ._rise:before {
      background: -webkit-radial-gradient(circle, rgba(236, 205, 169, .2) 55%, rgb(50, 30, 7) 90%);
      background: radial-gradient(circle, rgba(236, 205, 169, .2) 55%, rgb(50, 30, 7) 90%);
    mix-blend-mode: multiply;
    opacity: .8; }
  ._rise:after {
    background: -webkit-radial-gradient(circle, rgba(232, 197, 152, .8), transparent 90%);
    background: radial-gradient(circle, rgba(232, 197, 152, .8), transparent 90%);
    mix-blend-mode: overlay;
    opacity: .6;
  }