/*
 *
 * Rise
 *
 */

.rise {
  position: relative;
  -webkit-filter: brightness(1.05) sepia(0.2) contrast(0.9) saturate(0.9);
          filter: brightness(1.05) sepia(0.2) contrast(0.9) saturate(0.9); }
  
  .rise img {
    width: 100%;
    z-index: 1; }
  
  .rise:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .rise:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .rise::after {
    background: -webkit-radial-gradient(circle, rgba(232, 197, 152, 0.8), transparent 90%);
    background: radial-gradient(circle, rgba(232, 197, 152, 0.8), transparent 90%);
    mix-blend-mode: overlay;
    opacity: .6; }
  
  .rise::before {
    background: -webkit-radial-gradient(circle, rgba(236, 205, 169, 0.15) 55%, rgba(50, 30, 7, 0.4));
    background: radial-gradient(circle, rgba(236, 205, 169, 0.15) 55%, rgba(50, 30, 7, 0.4));
    mix-blend-mode: multiply; }
