/*
 *Skyline
 *
 */

 .skyline:before,
.skyline:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }


.skyline {
  position: relative; }
  
  .skyline img {
    width: 100%;
    z-index: 1; }
  
  .skyline:before {
    z-index: 2; }
  
  .skyline:after {
    z-index: 3; }


.skyline {
  -webkit-filter: brightness(1.2) contrast(1.1);
          filter: brightness(1.2) contrast(1.1); }
  
  .skyline:after {
    background: rgba(93, 101, 186, 0.2);
    mix-blend-mode: overlay; }