/*
 *
 * Slumber
 *
 */

.slumber {
  position: relative;
  -webkit-filter: saturate(0.66) brightness(1.05);
          filter: saturate(0.66) brightness(1.05); }
  
  .slumber img {
    width: 100%;
    z-index: 1; }
  
  .slumber:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .slumber:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .slumber::after {
    background: rgba(125, 105, 24, 0.5);
    mix-blend-mode: soft-light; }
  
  .slumber::before {
    background: rgba(69, 41, 12, 0.4);
    mix-blend-mode: lighten; }
