/*
 *
 * Stinson
 *
 */

.stinson {
  position: relative;
  -webkit-filter: brightness(1.24) contrast(0.94) hue-rotate(12deg);
          filter: brightness(1.24) contrast(0.94) hue-rotate(12deg); }
  
  .stinson img {
    width: 100%;
    z-index: 1; }
  
  .stinson:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .stinson:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .stinson::after {
    background: #ebe4de;
    mix-blend-mode: multiply; }
