/*
 *
 * Sutro
 *
 */

.sutro:before,
.sutro:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }


.sutro {
  position: relative; }
  
  .sutro img {
    width: 100%;
    z-index: 1; }
  
  .sutro:before {
    z-index: 2; }
  
  .sutro:after {
    z-index: 3; }


.sutro {
  -webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
          filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg); }
