/*
 *
 * Toaster
 *
 */

.toaster {
  position: relative;
  -webkit-filter: contrast(1.5) brightness(0.9);
          filter: contrast(1.5) brightness(0.9); }
  
  .toaster img {
    width: 100%;
    z-index: 1; }
  
  .toaster:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .toaster:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .toaster::after {
    background: -webkit-radial-gradient(circle, #804e0f, #3b003b);
    background: radial-gradient(circle, #804e0f, #3b003b);
    mix-blend-mode: screen; }
