/*
 * Willow
 *
 */

.willow {
  position: relative;
  -webkit-filter: grayscale(0.5) contrast(0.95) brightness(0.9);
          filter: grayscale(0.5) contrast(0.95) brightness(0.9); }
  
  .willow img {
    width: 100%;
    z-index: 1; }
  
  .willow:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .willow:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .willow::before {
    background-color: radial-gradient(40%, circle, #d4a9af 55%, black 150%);
    mix-blend-mode: overlay; }
  
  .willow::after {
    background-color: #d8cdcb;
    mix-blend-mode: color; }
