/*
 *
 * X-Pro II
 *
 */

.xpro2 {
  position: relative;
  -webkit-filter: sepia(0.3);
          filter: sepia(0.3); }
  
  .xpro2 img {
    width: 100%;
    z-index: 1; }
  
  .xpro2:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  
  .xpro2:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3; }
  
  .xpro2::after {
    background: -webkit-radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
    background: radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
    mix-blend-mode: color-burn; }
