/*
 *
 * X-Pro II
 *
 */
.xpro2:before, .xpro2:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }

.xpro2 {
  position: relative; }
  .xpro2 img {
    width: 100%;
    z-index: 1; }
  .xpro2:before {
    z-index: 2; }
  .xpro2:after {
    z-index: 3; }

.xpro2 {
  -webkit-filter: sepia(.3);
          filter: sepia(.3); }
  .xpro2:after {
    background: -webkit-radial-gradient(circle, #E6E7E0 40%, rgba(43, 42, 161, 0.6) 110%);
    background: radial-gradient(circle, #E6E7E0 40%, rgba(43, 42, 161, 0.6) 110%);
    mix-blend-mode: color-burn; }
