@charset "UTF-8";
::-moz-selection {
  background: #9b1c9b;
  color: white; }
::selection {
  background: #9b1c9b;
  color: white; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1200px;
  line-height: 1.5;
  font-size: 1.1em;
  overflow-x: hidden; }
  @media (max-width: 500px) {
    body {
      font-size: .9em; } }

section {
  overflow-x: hidden; }

h1, h2 {
  color: #9b1c9b; }
  @media (max-width: 500px) {
    h1, h2 {
      text-align: center; } }

h3, em {
  color: #c63082; }

pre, code {
  background: #eff1ef; }
  pre code, code code {
    border: none;
    background: none; }

code {
  font-family: monospace;
  padding: 0;
  padding: .25em .5em; }

.highlight {
  color: #c63082;
  font-weight: 800; }

.comment {
  color: #abb1ad; }

ul {
  width: 100%;
  margin: 0;
  padding: 0; }

ul, ol {
  line-height: 1.8; }

a {
  text-decoration: none;
  color: #9b1c9b;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  border-bottom: 1px solid #c63082;
  padding-bottom: .05em; }
  a:hover, a:focus {
    color: #e297c0;
    border-color: #e297c0; }

figure {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-transition-duration: .35s;
          transition-duration: .35s; }
  @media (max-width: 1240px) {
    figure {
      max-width: 300px;
      max-height: 300px; } }
  @media (max-width: 992px) {
    figure {
      max-width: 250px;
      max-height: 250px; } }
  @media (max-width: 768px) {
    figure {
      max-width: 300px;
      max-height: 300px; } }
  @media (max-width: 500px) {
    figure {
      max-width: 400px;
      max-height: 400px; } }
  figure:hover, figure:focus {
    -webkit-filter: none !important;
            filter: none !important; }
  figure:after {
    -webkit-transition-duration: .35s;
            transition-duration: .35s; }
  figure:hover:after, figure:focus:after {
    opacity: 0 !important; }

figcaption {
  position: absolute;
  bottom: 1em;
  right: 0;
  padding: .25em 1em .25em .25em;
  background: #000;
  color: white;
  font-weight: 200; }

hr {
  clear: both;
  float: none;
  border: 1px solid #eff1ef;
  margin: 2em auto;
  display: block; }

img {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%; }

.demo__section {
  font-weight: 300;
  font-size: 1.2em; }
.demo__subtitle {
  font-size: 2em;
  text-align: center; }
.demo__note {
  font-style: italic;
  text-align: center;
  display: block;
  margin: 2em auto 0; }
.demo__input-area {
  display: block;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
  margin: 1em auto;
  padding: 1em 0; }
  @media (max-width: 500px) {
    .demo__input-area {
      margin: 0;
      font-size: .8em; } }
.demo__input-label {
  text-align: center;
  color: #9b1c9b; }
.demo__input-img {
  max-width: 16em;
  font-size: 1em;
  padding: .5em;
  border: 2px solid #9b1c9b;
  outline: none;
  margin: .5em;
  font-weight: 200;
  -webkit-transition-duration: .35s;
          transition-duration: .35s; }
  .demo__input-img:hover {
    background: #f5e8f5; }
  .demo__input-img:focus {
    background: #e6c6e6; }
.demo__option-field {
  color: #9b1c9b;
  border: 1px solid #cad1cc;
  min-width: 200px; }
.demo__option-img {
  max-width: 150px;
  height: 150px;
  display: inline-block;
  cursor: pointer; }
  @media (max-width: 768px) {
    .demo__option-img {
      height: 100px; } }
  @media (max-width: 500px) {
    .demo__option-img {
      height: 60px; } }
.demo__list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
.demo__item {
  margin: .75em;
  list-style: none; }
  @media (max-width: 992px) {
    .demo__item {
      margin: .5em; } }
  @media (max-width: 500px) {
    .demo__item {
      margin: .5em 0; } }

.title-section {
  width: 100%;
  text-align: center; }
.title--logo {
  max-width: 400px; }
.title--top-sub {
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  max-width: 26em; }
  @media (max-width: 500px) {
    .title--top-sub {
      font-size: 1.2em; } }

.how-to-section, .explanation-section {
  font-size: 1.2em;
  font-weight: 300;
  max-width: 40em;
  margin: 0 auto;
  display: block; }

.attribution {
  padding: 1em 0 4em;
  text-align: center; }

.callout {
  max-width: 14em;
  background: #eff1ef;
  padding: 2em;
  margin: -.5em 2em 0;
  display: block;
  font-weight: 200;
  float: right; }
  @media (max-width: 768px) {
    .callout {
      max-width: 28em;
      margin: 1em auto;
      float: none;
      font-size: .8em; } }

.available-classes, .available-extends, .supported-browsers {
  -webkit-columns: 15em 2;
     -moz-columns: 15em 2;
          columns: 15em 2; }

.supported:after {
  content: '✔';
  color: #62B859;
  margin-left: .5em; }

.not-supported:after {
  content: '✘';
  color: #c63082;
  margin-left: .5em; }
